/* * * * * Socialist Line * * * */
.aw-socialist .line a {
    display: block;
    height: 16px;
    opacity: 0.5;
    width: 16px;
}
.aw-socialist .line a:hover {
	opacity: 1;
}
.aw-socialist .line .facebook a {
	background: url("/modules/socialist/images/icons16x16.png") no-repeat scroll 0 0 transparent;
}
.aw-socialist .line .twitter a {
	background: url("/modules/socialist/images/icons16x16.png") no-repeat scroll -17px 0 transparent;
}
.aw-socialist .line .googleplus a {
	background: url("/modules/socialist/images/icons16x16.png") no-repeat scroll -34px 0 transparent;
}
.aw-socialist .line .vkontakte a {
	background: url("/modules/socialist/images/icons16x16.png") no-repeat scroll -51px 0 transparent;
}


.aw-socialist .line .twitter,
.aw-socialist .line .facebook,
.aw-socialist .line .googleplus,
.aw-socialist .line .vkontakte {
	float: left;
	margin-right: 5px;
}